.App {
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}

.App-header {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #222;
  height: 80px;
  color: white;
}

.board-row1 {
  margin: 0 0 0 0;
  padding: 0;
  height: 15px;
  position: relative;
}

.board-row2 {
  margin: 0 0 0 0;
  padding: 0;
  height: 19px;
  position: relative;
}

.square {
  margin: 0 0 0 0;
  padding: 0;
  border: 1px solid #FFF;
  background: #FFF;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  padding: 0;
  text-align: center;
  width: 35px;
}

.horizontal {
  margin: 0 0 0 0;
  background: #FFF;
  border: 1px solid #FFF;
  border-left-color: #000;
  border-left-width: 6px;
  border-left-style: solid;
  height: 5px;
  position: relative;
  padding: 0;
  width: 40px;
}

.horizontal:hover {background: #F00;}

.horizontal-played {
  margin: 0 0 0 0;
  background: #000;
  border: 1px solid #000;
  height: 5px;
  position: relative;
  padding: 0;
  width: 40px;
}

.vertical {
  margin: 0 0 0 0;
  background: #FFF;
  border: 1px solid #FFF;
  height: 30px;
  position: relative;
  padding: 0;
  width: 5px;
}

.vertical:hover {background: #F00;}

.vertical-played {
  margin: 0 0 0 0;
  background: #000;
  border: 1px solid #000;
  height: 30px;
  position: relative;
  padding: 0;
  width: 5px;
}

.game {
  margin: 0 0 0 0;
  padding: 0;
}

.game-info {
  margin-left: 0px;
  margin-top: 20px;
}
