.App {
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}

.App-header {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #222;
  height: 80px;
  color: white;
}

.board-row {
  margin: 0 0 0 0;
  padding: 0;
  height: 15px;
  position: relative;
}

.square {
  margin: 0 0 0 0;
  padding: 0;
  background: #FFF;
  border: 1px solid #FFF;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  position: relative;
  padding: 0;
  text-align: top;
  width: 35px;
  overflow: hidden;
}

.horizontal {
  margin: 0 0 0 0;
  background: #FFF;
  border: 1px solid #FFF;
  border-left-color: #000;
  border-left-width: 5px;
  border-left-style: solid;
  height: 5px;
  position: relative;
  padding: 0;
  width: 40px;
  overflow: hidden;
}

.horizontal-played {
  margin: 0 0 0 0;
  background: #000;
  border: 1px solid #000;
  height: 5px;
  position: relative;
  padding: 0;
  width: 40px;
  overflow: hidden;
}

.vertical {
  margin: 0 0 0 0;
  background: #FFF;
  border: 1px solid #FFF;
  height: 30px;
  position: relative;
  padding: 0;
  width: 5px;
  overflow: hidden;
}

.vertical-played {
  margin: 0 0 0 0;
  background: #000;
  border: 1px solid #000;
  height: 30px;
  position: relative;
  padding: 0;
  width: 5px;
  overflow: hidden;
}

.game {
  margin: 0 0 0 0;
  padding: 0;
}
